.grid {
  display: grid;
}

.onecolumn {
  grid-template-columns: 1fr;
}

.processthreecolumn {
  grid-template-columns: 1fr 4fr 1fr;
}

.hydrointrotwosec {
  grid-template-columns: 1fr 1fr;
}


/* mobile first repsonsiveness  */
/* navbar responsiveness 592px */
@media(max-width:37rem) {
  .nav-element {
    font-size: 1rem;
    margin: 2.5rem 1rem;
  }

  .nav-logo img {
    width: 3.6rem;
    margin-left: 1rem;
  }
}

/* 0px */
@media(min-width: 0rem) {
  .projects-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

}

/* 658px content responsiveness */
@media(min-width:41.125rem) {

  .intro-text {
    margin-left: 3rem;
  }

  .name-intro {
    font-size: 14rem;
    line-height: 10rem;
  }

  .about-description {
    max-width: 55rem;
    font-size: 2rem;
  }

  .hydro-content h1 {
    font-size: 7rem;
  }

  .onecolumn {
    grid-template-columns: 1fr 1fr;
  }

  .abouttwocolumn{
    grid-template-columns: 1fr 1fr;
  }
}

/* 900px content responsiveness */
@media(min-width:56.25rem) {

  .onecolumn {
    grid-template-columns: 1fr 1fr;
  }

  .about-text {
    margin-top: 10rem;
  }

  .leanneimg {
    max-width: 100%;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  .hydro-content h1 {
    font-size: 10rem;
  }

  .projects-home-text h3 {
    font-size: 2rem;
    margin-left: 8rem;
  }

  .projects-home-text p {
    font-size: 1rem;
    margin-left: 8rem;
  }

  .onecolumn {
    grid-template-columns: 3fr 1fr;
  }

  .case-button {
    margin-right: 8rem;
  }






}